html{
  font-family: Verdana, Arial;
 margin:0; 
 padding:0;
  
}
body {background:#fff; color:#333; font: 12px/22px verdana, arial, sans-serif; height:100%; margin:0 auto; width:100%;}
#page{
    	
    min-width:960px;
    margin:0; 
    padding: 0;
  
    
}
 h1{ 
    margin:10px; 
    padding: 10px;
}

#dir-overview{
   min-height: 300px;
    width: auto;
    margin:0; 
    padding: 0;
     
 }
 #files-overview{
     min-height: 300px;
    width: auto;
    margin-top:10px; 
    padding-top: 10px;
    
     
 }

#directories,#files{
    display: inline;
    list-style: none;
   
        
}
.folder{
    float:left;
    margin:20px;
    width: 100px;
    height: 100px;
    text-decoration: none;
    text-align: center;
     
}

#labela{
        padding:0;
     white-space: nowrap;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}


.file{
    float:left;
    margin:20px;
    width: 100px;
    height: 100px;
    text-decoration: none;
    text-align: center;
}

#file-info {display:none;}

#simplemodal-overlay {background-color:#000; cursor:wait;}


#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}

#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
